@media screen and (min-width: 768px) {
    .footer__link-element {
        margin-right: 18px;
        display: inline;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link-element {
        display: block;
    }

    .footer__link-element+.footer__link-element {
        margin-top: 32px;
    }
}