.logo {
    transition: opacity .4s;
    max-width: 176px;
    max-height: 52px;
}

.logo:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .logo {
        max-width: 142px;
        max-height: 42px;
    }
}