.lead__image-wrapper {
    margin: 64px auto 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .lead__image-wrapper {
        margin: 56px auto 0 auto;
        max-width: 924px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image-wrapper {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image-wrapper {
        margin: 40px auto 0 auto;
        max-width: 320px;
    }
}