.place__website {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    max-width: 456px;
}

@media screen and (max-width: 1023px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        margin: 0 16px;
    }
}